@{
    ViewData["Title"] = "Главная";
}

<div class="">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Это учебный проект с CRUD операциями и подключением БД.</p>

    <h4>Используемые пакеты расширений:</h4>
    <ul>
        <li>
            Microsoft.EntityFrameworkCore
        </li>
        <li>
            Microsoft.EntityFrameworkCore.SqlServer
        </li>
        <li>
            Microsoft.EntityFrameworkCore.Tools
        </li>
    </ul>

    <a class="" asp-area="" asp-controller="BookItems" asp-action="Index">Библиотека со списком книг</a>
</div>
