@model MyLibrary.Models.BookItem

@{
    ViewData["Title"] = "Details";
}

<div class="">
    <h4>Описание</h4>
    <hr />
    <table class="">
    <tr><th>Id</th><td>@Model.Id</td></tr>
    <tr><th>Имя</th><td>@Model.Name</td></tr>
    <tr><th>Описание</th><td>@Model.Description</td></tr>
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
